<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
">
</head>

<body>
    <div style="background-color: black; height: 40.7em;">
        <center>
            <h1 style="color: white;"> DELETE DATA </h1><br>
            <form action="/deletestd">
                <div class="row" style="width: 30em;">
                    <div class="row" style="padding: 5px;">
                        <input type="text" class="form-control" placeholder="First name" name="first_name" required>
                    </div>
                </div>
                <br>
                <input class="btn btn-primary" type="submit" name="" id="" value="Submit">
                <a href="/" class="btn btn-primary" role="button"> Back </a>
            </form>

            {{#if msg}}
            <h1 style="color: white;"> Data Deleted </h1>
            {{/if}}
            {{#if cmsg}}
            <h1 style="color: white;"> Data Not Found </h1>
            {{/if}}
        </center>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js
"></script>
</body>

</html>